nav :nth-child(1)::after {
    content: '';
    height: 4px;
    width: 100%;
    background-color: #dd91ff;
    position: absolute;
    left: 0;
    bottom: -4px;
    opacity: 1;
}

main {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 125px;
    padding-bottom: 200px;
    color: white;
    background-color: #707070;
    background-image: url(images/landing-page-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.landing-intro {
    text-align: center;
    font-family: 'Young Serif', serif;
    font-size: 3em;
    max-width: 800px;
    margin-bottom: 25px;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    color: black;
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
  }

  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Onest', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    border-bottom: 4px solid #dd91ff;
  }

  .login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  .login-options-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .forgot-btn {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border: 3px solid #ccc;
    cursor: pointer;
  }

  .login-container button:hover {
    border-color: #ca86e9;
  }

  .login-container form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #dd91ff;
    color: #fff;
    cursor: pointer;
  }

  .google-login {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #dd91ff;
    color: #fff;
    cursor: pointer;
  }

  .login-container form button:hover,
  .google-login:hover,
  .signup-btn button:hover {
    background-color: #ca86e9;
  }

.login-container hr {
    border-top: 4px solid #dd91ff;
}

.signup-btn button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #dd91ff;
    color: #fff;
    cursor: pointer;
}

.signup-txt h4 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}